html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: flood-std;
    src: url(./assets/Flood_Std_Regular\ \(1\).otf);
}







@media screen and (min-width:481px) {

    /*page1*/
    header {
        display: flex;
        flex-direction: column;
        margin-top: -3%;
        margin-left: 5%;
    }

    .header-left {
        margin-bottom: 3%;
        margin-left: 1%;
    }

    .header-right {
        display: flex;
        flex-direction: row;
        margin-top: -5%;
        margin-left: 20%;
        padding-left: 40px;
        font-size: 2rem;

    }

    .header-right a {

        font-size: large;
        text-decoration: none;
        color: rgb(61, 78, 106);
        margin-left: 12%;
    }

    body {
        color: rgb(61, 78, 106);
    }

    .page1-denoteTodayButton {
        width: 10rem;
        height: 2.9rem;
        border-radius: 40px;
        text-align: center;
        font-weight: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
        padding: 1%;
        position: absolute;
        margin-left: 80%;
        border-style: none;
        margin-top: -2.5%;
        padding-bottom: 2%;

    }


    .page1-background-container {
        background-image: url('./assets/assets/home/annie-spratt-135307-unsplash@2x.png');
        justify-content: space-between;
        display: flex;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-position: 70% center;
        margin: 0%;
        background-size: cover;
        padding: 10%;
        height: 100vh;
        margin-top: 3%;

    }

    .page1-climateContainer {
        height: 25rem;
        width: 35rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 2%;
        margin-top: 18%;
        margin-bottom: 20%;

    }

    .page1-climateContainer h3 {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 3rem;
        color: rgb(53, 68, 99);
        padding: 2%;
        justify-content: flex-start;

    }

    .page1-background-container h2 {
        position: absolute;
        margin-left: 38%;
        font-size: 5rem;
        font-family: flood-std;
        margin-top: 5%;
        color: white;

    }

    button {
        width: 180px;
        height: 50px;
        color: white;
        background-color: rgb(43, 80, 155);
        font-size: large;
        border: none;
    }

    .page1-issueButton {
        width: 10rem;
        height: 2.5rem;
        background-color: rgb(53, 68, 99);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        position: absolute;
        margin-left: 4%;

    }

    .page1-background-container p {
        font-size: 3rem;
    }

    h5 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 1.2;

    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;

    }

    p {
        font-size: 1rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.2;
        font-size: normal;
    }

    a {
        font-size: smaller;
        padding: 1%;
    }

    /*page-2*/

    .page2-takeAction {
        margin-left: 30%;

        width: 10rem;
        height: 2.5rem;
        background-color: rgb(53, 68, 99);
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 38%;
        margin-top: -6%;

    }

    .page2-container {
        background-color: rgb(193, 247, 213);
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        padding: 5%;
    }

    .page2-secondrow {
        display: flex;
        flex-direction: row;
    }

    .page2-firstrow {
        display: flex;
        flex-direction: row;
        margin-left: 7%;
    }

    .para-text {
        margin-left: 2%;
        margin-right: 20%;
    }


    /*page3*/

    .page3-maincontainer {
        background-color: rgb(53, 68, 99);
        color: white;
        display: flex;

        align-items: center;
        flex-direction: column;
        padding: 10%;

        box-sizing: border-box;
        width: 100%;

    }
    .page3-whatwedo {
        margin-top: -8%;
        background-color: white;
        color: rgb(53, 68, 99);
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        margin-left: -85%;
        text-align: center;
    }


    .page3-card-toset0 {
        display: flex;
        flex-direction: column;
        margin-left: -62%
    }

    .page3-card-toset0 .page3-cards {
        background-color: white;
        margin-left: -25%;
        height: 27rem;
        width: 20rem;
        margin-top: -10%;
        color: rgb(53, 68, 99);
        padding-bottom: 19%
    }

    .page3-card-toset0 h5 {
        padding-left: 5%;
    }

    .page3-card-toset1 {
        display: flex;
        flex-direction: column;
        margin-left: -15%
    }

    .page3-card-toset1 h5 {
        padding-left: 5%;
    }

    .page3-card-toset1 .page3-cards {
        background-color: white;
        margin-left: 28%;
        height: 27rem;
        width: 20rem;
        margin-top: -154%;
        color: rgb(53, 68, 99);
        padding-bottom: 19%
    }

    .page3-card-toset2 {
        display: flex;
        flex-direction: column;
        margin-left: 40%
    }

    .page3-card-toset2 .page3-cards {
        background-color: white;
        margin-left: 60%;
        height: 27rem;
        width: 20rem;
        margin-top: -155%;
        color: rgb(53, 68, 99);
        padding-bottom: 20%;
    }


    .page3-cards img {
        margin-top: -24%;
        margin-left: 2%;
        width: 110%;
        height: 55%;
        padding-left: 10%
    }

    .para-text-for-planting {
        display: flex;
        padding: 5%;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 100;
        align-items: center;
        margin-bottom: 8%;
        line-height: 1.5;
        padding-bottom: 10%;
    }

    .readMoreButtonpage-3 {
        font-style: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
        border-radius: 40px;
        margin-bottom: 5%;
        width: 10%;
        height: 5%;
        margin-left: 2%;
        margin-top: -2%;
        position: absolute;
        border-style: none;

    }

    .page3-cards h5 {
        margin-left: 10%;
        margin-top: 10%;
        margin-right: 10%;
    }

    .page3-maincontainer h3 {
        margin-bottom: 20%;
        margin-top: 3%;
        display: flex;
        justify-content: flex-start;
        margin-left: 5;
        font-size: 3rem;
        margin-right: 1%;
    }



    /*page4*/


    .page4-maincard {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .page4-backgroundcard {
        background-image: url('./assets/assets/home/did-you-know-background.png');
        background-size: cover;
        width: 100%;
        justify-content: space-between;
        display: flex;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 40%;
        height: 100vh;
        flex-direction: column;
        position: relative;

    }

    .page4-backgroundcard h2 {
        font-size: 5rem;
        font-family: 'flood-std';
        color: white;
        padding: 20px;
        margin: 0;
        line-height: 1.2;
        margin-top: -150%;
        margin-left: -150%;

    }


    .page4-subcard p {
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-right: 20%;
        font-size: 1.5rem;


    }

    .page4-subcard {
        background-color: white;
        padding: 3%;
        margin: 10px;
        width: 30%;
        position: absolute;
        height: 10%;

    }

    .card1 {
        top: 10%;
        left: 55%;
    }

    .card2 {
        top: 30%;
        left: 55%;
    }

    .card3 {
        top: 50%;
        left: 55%;
    }

    .card4 {
        top: 70%;
        left: 55%;
    }

    .page4-iconclass {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-direction: column;
        margin-top: -20%;
        margin-left: 90%;
    }

    .page4-subcard h5 {

        margin-bottom: -2%;
        font-size: 2rem;
        margin-left: 5%;
    }


    .iconbutton {
        border-radius: 50%;
        width: 40px;
        height: 35px;
        background-color: rgb(193, 247, 213);
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .page4-takeactionToday {
        font-style: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
        border-radius: 40px;
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: -10%;
        margin-left: -145%;
        width: 50%;


    }


    .page4-didyouknow {
        font-size: 1.2rem;
        color: white;
        background-color: rgb(53, 68, 99);
        width: 10%;
        padding: 10px;
        text-align: center;
        position: absolute;
        margin-top: -32.5%;
        margin-left: 20%;
        margin-bottom: -200%;
        z-index: 2;

    }

    /*5th page*/

    .page5-maincard {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        box-sizing: border-box;
        width: 100%;

    }

    .page5-subcard1 {
        margin-top: 5%;
        margin-left: 45%;
        margin-right: 10%;
   padding-bottom: 2%;

    }

    .page5-subcard1 img {
        width: 700px;
        height: 700px;
    }

    .page5-stories {
        width: 10%;
        height: 5%;
        position: absolute;
        margin-top: -1%;
        left: 50%;
        background-color: rgb(61, 78, 106);
    }

    .page5-2ndcontent {
        margin-top: -35%;
        width: 550px;
        height: 380px;
        background-color: rgb(61, 78, 106);
        color: white;
        display: flex;
        justify-content: flex start;
        flex-direction: column;
        position: absolute;
        margin-left: -25%;
        text-align: start;

        padding-bottom: 1%;

    }

    .page5-2ndcontent h3 {
        padding: 5% 8%;
        line-height: 1.4;
        display: flex;
        align-content: center;
        flex-direction: column;
        font-size: 2rem;
    }

    .page5-2ndcontent p {
        font-size: smaller;
        padding-bottom: 50%;
        padding-left: 5%;
    }

    .page5-readmoreButton {
        margin-left: 20%;
        margin-top: -12%;
        border-radius: 40px;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
        position: absolute;
    }

    /*page-6*/
    .page6-maincard {
        display: flex;
        flex-direction: column;
        background-color: rgb(61, 78, 106);
        color: white;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;



    }

    .page6-imageclass {
        margin-top: 5%;
        margin-left: -32%;
        margin-right: 5%;
        margin-bottom: 20%;

    }

    .page6-imageclass img {
        width: 30%;
        height: 30%;
    }

    .page6-maincard h2 {
        margin-left: 12%;
        margin-right: 10%;
        margin-top: 5%;
        padding: 10px;
        font-family: flood-std;
        font-size: 5rem;


        text-align: start;
    }

    .page6-maincard p {

        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 70%;
        margin-top: 0%;
        font-size: 1.5rem;
        text-align: start;
        line-height: 1.5;

    }

    .page6-maincard h5 {
        display: flex;
        justify-content: center;
        margin-right: 10%;
        padding: 2%;
        margin-left: 68%;
        margin-top: -28%;
        font-size: 3rem;
        text-align: start;

    }

    .page6-event {
        position: absolute;
        background-color: white;
        margin-top: 0%;
        margin-left: 89%;
        color: rgb(61, 78, 106);
        width: 10%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page6-imageclass .page6-readmoreButton {
        border-radius: 40px;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
        position: absolute;
        margin-left: 25%;
        margin-top: 2%;

    }

    .page6-secondImage .page6-imageclass {
        margin-left: 50%;
    }

    .page6-secondImage .page6-imageclass img {
        width: 90%;
        height: 90%;
        margin-top: -20%;
        padding-left: 5%;
        margin-bottom: -25%;
    }

    .page6-secondImage .page6-imageclass h5 {
        margin-left: -40%;
        margin-top: -26%;
        padding-right: 40%;

        position: absolute;
    }


    .page6-secondImage .page6-imageclass p {
        margin-left: -43%;
        margin-top: -16%;
        padding-right: 50%;
        padding-left: 5%;

        position: absolute;
    }

    .page6-secondImage .page6-latestnews {
        position: absolute;
        margin-left: -37.5%;
        width: 10%;
        height: 4%;
        margin-top: -9%;

        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(61, 78, 106);
        background-color: white;

        margin-bottom: 0;
    }

    .page6-secondImage .page6-readmoreButton {
        position: absolute;
        margin-left: -82%;
        margin-top: 20%;

    }

    /*page 7*/
    .page7-card1 {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        padding-top: 3%;
        box-sizing: border-box;
        width: 100%;
    }

    .page7-buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 5%
    }

    .page7-card1 h3 {
        font-size: 3rem;
        padding-right: 25%;
        margin-left: 6%;
    }

    .page7-email {
        width: 20%;
        height: 5%;
        background-color: white;
        color: rgb(61, 78, 106);
        border-radius: 40px;
        font-size: medium;
        position: absolute;
        margin-top: 6%;
        text-align: start;
        margin-left: -30%;
        margin-top: 3.5%;
        padding: 1%;
        justify-content: center;
        align-content: center;
        padding-bottom: 2%;

    }

    .page7-subscribe {
        background-color: rgb(61, 78, 106);
        color: rgb(193, 247, 213);
        width: 10%;
        height: 1%;
        border-radius: 40px;
        padding: 1%;
        position: absolute;
        margin-left: -8%;
        margin-top: 3.5%;
        padding-bottom: 2%;

    }

    /*page-8*/
    .page8-maincontainer {
        display: flex;
        flex-direction: row;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-left: 5%;
        width: 100%;
        gap: 2%;

    }

    .row {
        display: flex;
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
        line-height: 1.5;

    }

    .row:nth-child(2) {
        margin-left: 80px;
    }

    .column:nth-child(2) {
        margin-left: 80px;
    }


    .column h4 {
        margin-left: 24%;
        font-size: 2rem;
        margin-top: -1%;
    }



    .page8-maincontainer .page8-para-text {
        margin-bottom: 1%;
        font-size: 1rem;
        line-height: 2;
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: -9%;


    }

    .underline {
        border-bottom: 1px solid;

    }


    .page8-maincontainer a {
        display: flex;
        flex-direction: column;
        font-size: small;
        color: rgb(61, 78, 106);
        text-decoration: none;
        line-height: 1.2;
        font-size: 1rem;

    }


    /*final class*/
    .finalhead h2 {
        margin-left: 75%;
        color: rgb(61, 78, 106);
        padding: 0;
        position: absolute;
        margin-top: -22%;
        font-size: 5rem;
        font-family: flood-std;


    }

}


@media screen and (max-width:480px) {

    /*page1*/
    header {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        color: rgb(61, 78, 106);
        align-items: center;
        padding: 20px;

    }

    .header-left {
        margin-left: 5%;
    }

    .header-left h4 {
        margin: 0;
        line-height: 1.2;
    }

    .header-right {
        display: flex;
        flex-direction: column;
        padding: 1%;
        margin-right: 6%;
        margin-top: 5%;
    }

    .header-right a {
        margin-bottom: 10%;
        font-size: medium;
        padding: 0;
        text-decoration: none;
        color: rgb(61, 78, 106);
        ;
    }

    body {
        color: rgb(61, 78, 106);
    }

    .page1-denoteTodayButton {
        width: 23rem;
        height: 2.9rem;
        margin: 5% 5%;
        border-radius: 40px;
        text-align: center;
        font-weight: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
    }

    .page1-background-container {
        margin-top: 3%;
        background-image: url('./assets/assets/home/annie-spratt-135307-unsplash@2x.png');
        background-position: 80% center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;

    }

    h2 {
        font-size: 2.5rem;
        color: white;
        margin-left: -50%;
        margin-top: 4%;
        font-family: flood-std;

    }

    .page1-cardContainer1 {

        width: 80%;
        background-color: white;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 10%;
        margin-bottom: 10%;
        position: relative;


    }

    .page1-climateContainer h3 {
        padding: 5%
    }

    .page1-climateContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .page1-climateContainer a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8%;
        padding-left: 5%;
        padding-bottom: 8%;
        margin-right: 5%;
        font-size: medium;
        line-height: 1.5em;
        color: rgb(61, 78, 106);

    }



    button {
        width: 180px;
        height: 50px;
        color: white;
        background-color: rgb(43, 80, 155);
        font-size: large;
        border: none;
    }

    .page1-issueButton {
        width: 10rem;
        height: 2.5rem;
        background-color: rgb(53, 68, 99);
        margin-left: 25%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5%;

    }

    h5 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        line-height: 1.2;

    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.2;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    p {
        font-size: 1rem;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.2;
        font-size: normal;
    }

    a {
        font-size: smaller;
        padding: 1%;
    }

    /*page-2*/

    .page2-takeAction {
        margin-left: 30%;
        margin-top: -5%;
        width: 10rem;
        height: 2.5rem;
        background-color: rgb(53, 68, 99);
        position: absolute;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .page2-container {
        background-color: rgb(193, 247, 213);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .page2-firstrow {
        padding-top: 12%;
        padding-left: 6%;
        display: flex;
        flex-direction: row;
        padding-bottom: 10%;
        padding-right: 6%;
    }

    .page2-firstrow h5 {
        margin-left: 5%
    }

    .volunteerclass {
        padding-left: 9%;

    }

    .page2-secondrow {
        padding-left: 6%;
        display: flex;
        flex-direction: row;
        padding-bottom: 10%;
        margin-top: -5%;
        padding-right: 6%;

    }

    .page2-secondrow h5 {
        margin-left: 5%
    }

    .donateclass {
        padding-left: 10%;
    }

    .para-text {
        margin-top: 12%;
        line-break: 1rem;
        margin-bottom: 20%;

    }

    /*page3*/

    .page3-maincontainer {
        background-color: rgb(53, 68, 99);
        color: white;
        display: flex;

        align-items: center;
        flex-direction: column;
        padding: 10%;

        box-sizing: border-box;
        width: 100%;

    }

    .page3-maincontainer h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
        text-align: center;


    }

    .page3-whatwedo {
        margin-top: 0;
        background-color: white;
        color: rgb(53, 68, 99);
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;

    }

    .page3-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: rgb(53, 68, 99);
        width: 90%;
        height: 150%;
        margin-top: 30%;
        box-sizing: border-box;
        padding: 20px;
        flex: 1;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;

    }

    .page3-cards h5 {
        font-size: large;
        padding-top: 10%;
    }

    .page3-cards img {
        margin-top: -27%;
    }

    .para-text-for-planting {

        display: flex;
        padding: 5%;
        flex-direction: column;
        justify-content: center;
        font-size: 100;
        align-items: center;
        margin-bottom: 8%;
        text-align: center;
    }

    .readMoreButtonpage-3 {

        font-style: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
        border-radius: 40px;
        margin-bottom: 5%;

    }




    /*page4*/


    .page4-maincard {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
    }

    .page4-backgroundcard {
        background-image: url('./assets/assets/home/did-you-know-background.png');
        background-size: cover;
        height: 40vh;
        padding: 135% 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;

    }

    .page4-backgroundcard h2 {
        margin-left: 5%;
        margin-top: -130%;
        padding-top: 5%;
    }

    .page4-subcard p {
        margin-left: -2%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        margin-right: 20%;

    }

    .page4-subcard {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
        margin-top: 10%;
        padding: 8%;
        flex: 1;
        justify-content: space-around;
    }

    .page4-iconclass {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-direction: column;
        margin-top: -25%;
        margin-left: 90%;
       
    }

    .iconbutton {
        border-radius: 50%;
        width: 35px;
        height: 30px;
        background-color: rgb(193, 247, 213);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4%;
      

    }

    .page4-takeactionToday {
        font-style: bold;
        color: rgb(61, 78, 106);
        background-color: rgb(193, 247, 213);
        border-radius: 40px;
        padding: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 2%;
        margin-left: 5%;
    }

    .page4-didyouknow {
        width: 40%;
        height: 5%;

        background-color: rgb(61, 78, 106);
        color: white;
        position: absolute;
        margin-top: -67%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 28%;

    }

    .page4-subcard h5 {
        margin-left: -2%;
    }

    /*5th page*/

    .page5-maincard {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        box-sizing: border-box;
        width: 100%;

    }

    .page5-subcard1 {
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .page5-stories {
        width: 40%;
        height: 5%;
        position: absolute;
        margin-top: -5%;
        left: 29%;
        background-color: rgb(61, 78, 106);
    }

    .page5-2ndcontent {
        margin-top: -6%;
        width: 350px;
        height: 350px;
        background-color: rgb(61, 78, 106);
        color: white;
        display: flex;
        justify-content: flex start;
        flex-direction: column;
        text-align: center;


    }

    .page5-2ndcontent h3 {
        padding: 5% 8%;
        line-height: 1.4;
        display: flex;
        align-content: center;
        flex-direction: column;
    }

    .page5-2ndcontent p {
        font-size: smaller;
        padding: 3% 5%;
    }

    .page5-readmoreButton {
        margin: 10% 27%;
        border-radius: 40px;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
    }

    /*page-6*/
    .page6-maincard {
        display: flex;
        flex-direction: column;
        background-color: rgb(61, 78, 106);
        color: white;
        text-align: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;

    }

    .page6-imageclass {
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 5%;

    }

    .page6-maincard h2 {
        margin-left: 5%;
        margin-top: 10%;
        padding: 40px;

    }


    .page6-maincard p {
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .page6-maincard h5 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 5%;
    }

    .page6-event {
        position: absolute;
        background-color: white;
        margin-top: -4%;
        margin-left: 25%;
        color: rgb(61, 78, 106);
        width: 42%;
        height: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page6-readmoreButton {
        border-radius: 40px;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
        margin-bottom: 15%;

    }

    .page6-latestnews {
        position: absolute;
        margin-left: 25%;
        width: 40%;
        height: 4%;
        margin-top: -4%;

        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(61, 78, 106);
        background-color: white;

        margin-bottom: 0;
    }

    /*page 7*/
    .page7-card1 {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(193, 247, 213);
        color: rgb(61, 78, 106);
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        padding-top: 5%;
        box-sizing: border-box;
        width: 100%;
    }

    .page7-buttons {
        display: flex;
        justify-content: space-between;
        padding-left: 5%
    }

    .page7-email {
        width: 60%;
        height: 5%;
        background-color: white;
        color: rgb(61, 78, 106);
        border-radius: 40px;
        font-size: medium;

        padding: 3.5%;
        margin-top: 6%;
    }

    .page7-subscribe {
        background-color: rgb(61, 78, 106);
        color: rgb(193, 247, 213);
        width: 35%;
        height: 5%;
        border-radius: 40px;
        padding: 3%;
        margin-top: 6%;


    }

    /*page-8*/
    .page8-maincontainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-left: 5%;
        width: 100%;

    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        
    }

    .column {
        flex: 1;
        margin: 0 10px;
        line-height: 1.5;
 }

    .page8-maincontainer p {
        margin-bottom: 8%;
        font-size: medium;
 }

    .page8-maincontainer a {
        color: rgb(61, 78, 106);
        display: flex;
        flex-direction: column;
        font-size: medium;
        
    }

    /*final class*/
    .finalhead h2 {
        margin-left: 56%;
        color: rgb(61, 78, 106);

        padding-bottom: 25%;


    }
}